{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="subpage-bg">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="titile-block title-block_subpage">
                    <h2>My Events</h2>
                    <p><a href="{% url 'landing' %}"> Home</a> / My Events</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="main-block featured-wrap">
    <div class="container-fluid">
<!--        <div class="row justify-content-center">-->
<!--            <div class="col-md-10">-->
<!--                <div class="titile-block">-->
<!--                    <h2>Your Events</h2>-->
<!--&lt;!&ndash;                    <p>These listings are featured by our community</p>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="row">
            {% for event in events %}
            <div class="col-md-4 card-1">
                <div class="card">
                    <img class="card-img-top" src="{{event.banner.url}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{event.title}}</h5>
                        <ul class="">
                            <li>start date:{{event.start_date}}</li>
                            <li>end date:{{event.end_date}}</li>
                        </ul>
                        <p class="card-text">
                            {{ event.description|linebreaks|safe|truncatewords:20 }}
                    {% ifnotequal event.description event.description|truncatewords:20 %}
            <a class="readmore" href="#">read more...</a>
                        {%endifnotequal%}
                        </p>
                    </div>
                    <div class="card-bottom">
                        <p><i class="ti-location-pin"></i>{{event.location}}</p>
                        {% if event.is_published %}
                        <span class="open-close_green">Published</span>
                        {% else %}
                        <span><a href="#">Publish</a></span>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}